extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")

            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia odio in aliquid ab, doloribus necessitatibus consectetur optio placeat obcaecati, at quasi ipsum molestias itaque labore quam assumenda repudiandae, quae aperiam?
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi doloribus cupiditate laborum consectetur vitae iste rem quae nostrum eligendi? Omnis repellat, sint non assumenda officia nisi quasi architecto nemo doloremque?


    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi similique eligendi, maiores iure quaerat quos a, magni praesentium, aut provident soluta placeat eius ea cupiditate repudiandae libero quam repellat. Odio.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destinos", class="img-fluid")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi similique eligendi, maiores iure quaerat quos a, magni praesentium, aut provident soluta placeat eius ea cupiditate repudiandae libero quam repellat. Odio.

                .col-md-4
                    img(src="img/icono_precio.svg", alt="precios", class="img-fluid")
                    h2.mb-4 Mejores precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi similique eligendi, maiores iure quaerat quos a, magni praesentium, aut provident soluta placeat eius ea cupiditate repudiandae libero quam repellat. Odio.

